<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width= device-width, initial-scale=1.0, maximum-scale=6">
    <meta name="description" content="Deliver a best Restaurant information for you!" />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" as="style" crossorigin="anonymous">
    <link rel="preload" href="fonts/MaterialIcons-Regular.woff2" as="font" crossorigin="anonymous">

    <link rel="preconnect" href="https://dicoding-restaurant-api.el.r.appspot.com">
    <link rel="preload" href="/images/heros/hero-image_1-small.webp" as="image" crossorigin="anonymous" media="screen and (max-width: 400px)">
    <link rel="preload" href="/images/heros/hero-image_1-medium.webp" as="image" crossorigin="anonymous" media="screen and (min-width: 306px)">
    <link rel="preload" href="/images/heros/hero-image_1-large.webp" as="image" crossorigin="anonymous" media="screen and (min-width: 380px)">
    <link rel="preload" href="/images/heros/hero-image_1-extra.webp" as="image" crossorigin="anonymous" media="screen and (min-width: 450px)">
    
    <title>Restaurant Apps Starter Project</title>
    <style>
        noscript>p {
            background: red;
            padding: 6px;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>

    <noscript>
        <p>FavRest needs JavaScript to be working.<br><b>Please enable JavaScript in browser!</b></p>
    </noscript>
    <!-- Main Application -->
    <!-- This element will be managed in runtime :) -->
    <application-main></application-main>
</body>
</html>