<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width= device-width, initial-scale=1.0, maximum-scale=6">
    <meta name="description" content="Deliver a best Restaurant information for you!" />
    <link rel="preload" href="fonts/MaterialIcons-Regular.woff2" as="font" crossorigin="anonymous">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>

    <noscript>Please enable Javascript to run this app</noscript>
    <application-main></application-main>
</body>
</html>